:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p { margin: 0; }

mat-card {
  display: grid;
  grid-gap: 1px;
  grid-template-columns: 1fr auto;
  grid-template-areas:
    "sample status"
    "input  status";
}

.sample-text-pane {
  grid-area: sample;
  padding-right: 8px;
  padding-bottom: 16px;
  max-width: 400px;
  border-bottom: solid 1px rgba(0,0,0,.12);
}

.input-pane {
  grid-area: input;
  margin-top: 8px;

  mat-form-field {
    width: 90%;
  }
}

.status-pane {
  grid-area: status;
  width: 240px;
  padding-left: 16px;

  border-left: solid 1px rgba(0,0,0,.12);

  p:not(:first-child) {
    margin-top: 8px;
  }
}
