<h1>Super Fancy Typing Tool</h1>

<mat-card>
  <!-- Top Pane: Sample Text -->
  <p class="sample-text-pane">
    {{ sample }}
  </p>

  <!-- Bottom Pane: input -->
  <div class="input-pane">
    <mat-form-field appearance="standard">
      <mat-label>Insert Text Here</mat-label>
      <input matInput [ngModel]="value" (ngModelChange)="onInput($event)" [disabled]="finished" />
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="onRestart()" [disabled]="!finished">Restart</button>
  </div>

  <!-- Side Pane: Status info -->
  <div class="status-pane">
    <p *ngIf="!started; else startedTmp">Start typing sample to begin test</p>

    <ng-template #startedTmp>
      <p>Time: {{ seconds | number:'1.1-1' }}</p>
      <p>Words: {{ words }}</p>
      <p *ngIf="finished">Words per Minute: {{ displayWPM() | number:'1.2-2' }}</p>
    </ng-template>

  </div>
</mat-card>
